---
import CardDefault from "../shared/cardDefault.astro";

import { cardDataAppContainer } from "../../scripts/data";
---

<div class="grid grid-cols-3 gap-2">
    {
        cardDataAppContainer.map((card) => (
            <CardDefault
                Title={card.Title}
                Content={card.Content}
                icon={card.icon}
                iconColor={card.iconColor}
                bgColor={card.bgColor}
                orientation={card.orientation}
                link={card.link}
            />
        ))
    }
</div>
